<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="{{ .Site.BaseURL }}app.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.circulate.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.easing.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.color.js"></script>
<script src="{{ .Site.BaseURL }}app.js"></script>
<script>
  require("src/js/app");
</script>
